@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 26.56em) {
    html {
      font-size: 56.25%; } }
  @media (min-width: 39.1em) {
    html {
      font-size: 75%; } }
  @media (min-width: 64em) {
    html {
      font-size: 87.5%; } }
  @media (min-width: 90em) {
    html {
      font-size: 100%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 125%; } }
  @media (min-width: 160em) {
    html {
      font-size: 125%; } }

body {
  font-family: "Playfair Display", sans-serif;
  box-sizing: border-box; }

.heading-one {
  font-size: 5rem;
  margin-bottom: 2rem; }

.heading-two {
  font-size: 2.5rem;
  margin-bottom: 2rem; }

.heading-three {
  font-size: 1.4rem;
  margin-bottom: 2rem; }

.u-margin-bot-small {
  margin-bottom: 2rem; }

.u-margin-bot-middle {
  margin-bottom: 5rem; }

.u-margin-bot-big {
  margin-bottom: 8rem; }

.btn, .btn:link, .btn:visited {
  background-color: #cb3b3b;
  text-decoration: none;
  padding: 1.5rem 2rem;
  border: none;
  outline: none;
  color: #e0c45c;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: .3rem; }

.builder {
  background-image: url("https://c.pxhere.com/photos/e1/04/pizza_ham_cheese_view_from_the_top_motherboard_good_food_fast_food_restaurant-1202870.jpg!d");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media (min-width: 39.1em) {
    .builder {
      max-height: 50rem; } }
  .builder__pizza {
    max-width: 25rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2rem; }
    .builder__pizza-cell {
      width: 2.5rem;
      height: 2.5rem;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
  .builder__cost {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 1rem;
    background-color: #cb3b3b;
    color: #e0c45c; }
    @media (min-width: 39.1em) {
      .builder__cost {
        position: static; } }
    .builder__cost-btn {
      width: 100%;
      cursor: pointer;
      padding: .5rem 0;
      transition: all .2s;
      border: 1px solid #e0c45c;
      margin-top: 1rem; }
      .builder__cost-btn:hover {
        background-color: #85203b; }

.ingredients {
  width: 100%;
  margin: 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .ingredients__h1 {
    width: 100%;
    padding: 3rem 0;
    text-align: center;
    background-color: #e0c45c; }
  .ingredients__group {
    width: 100%;
    border-radius: 2rem;
    color: #e0c45c;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .ingredients__group-header {
      text-align: center;
      width: 100%;
      padding: 1rem 0;
      background-color: #cb3b3b;
      color: #e0c45c; }
  .ingredients__container {
    width: 100%;
    margin: 0 auto;
    color: #e0c45c;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media (min-width: 39.1em) {
      .ingredients__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around; } }

.item {
  width: 90%;
  padding: 1rem .5rem;
  margin-bottom: 5rem;
  background-color: #fff98c;
  color: #85203b;
  box-shadow: 0.5rem 1rem 1rem #85203b;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  transition: all .2s; }
  @media (min-width: 39.1em) {
    .item {
      width: 45%;
      height: 20rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }
  @media (min-width: 64em) {
    .item {
      width: 15%; } }
  .item:hover {
    transform: scale(1.05);
    z-index: 1; }
  .item__header {
    width: 25%;
    font-size: 1.4rem;
    text-transform: uppercase; }
    @media (min-width: 39.1em) {
      .item__header {
        width: 100%;
        height: 25%;
        margin-bottom: 2rem;
        text-align: center;
        border-bottom: 1px solid #cb3b3b; } }
    @media (min-width: 64em) {
      .item__header {
        font-size: .95rem; } }
    @media (min-width: 90em) {
      .item__header {
        font-size: 1.4rem; } }
  @media (min-width: 39.1em) {
    .item__box-start {
      width: 100%; } }
  .item__box-start--price {
    font-weight: 400;
    font-size: 1.4rem; }
    @media (min-width: 39.1em) {
      .item__box-start--price {
        margin-bottom: 2rem; } }
    @media (min-width: 64em) {
      .item__box-start--price {
        font-size: .95rem; } }
  .item__box-start--btn {
    font-family: inherit;
    background-color: #cb3b3b;
    text-align: center;
    margin: 0;
    padding: .8rem;
    outline: none;
    transition: all .2s; }
    @media (min-width: 39.1em) {
      .item__box-start--btn {
        width: 100%; } }
    .item__box-start--btn:hover {
      background-color: #85203b; }
    .item__box-start--btn:active {
      transform: scale(0.95); }
  .item__box-end {
    text-align: left; }
    @media (min-width: 39.1em) {
      .item__box-end {
        width: 100%; } }
    .item__box-end--addBtn, .item__box-end--removeBtn {
      padding: 1rem 1.6rem;
      transition: all .2s; }
      @media (min-width: 39.1em) {
        .item__box-end--addBtn, .item__box-end--removeBtn {
          width: 100%;
          padding: .5rem 0; }
          .item__box-end--addBtn:not(:last-child), .item__box-end--removeBtn:not(:last-child) {
            margin: 1rem 0; } }
      .item__box-end--addBtn:hover, .item__box-end--removeBtn:hover {
        background-color: #85203b; }
      .item__box-end--addBtn:active, .item__box-end--removeBtn:active {
        transform: scale(0.95); }

.popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: rgba(224, 196, 92, 0.7);
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .popup__container {
    width: 60%;
    height: 40%;
    margin: 0 auto;
    background-color: #e0c45c;
    box-shadow: 1rem 1rem 1rem #fff98c; }
    .popup__container-item {
      display: flex;
      width: 80%; }
  .popup__closeBtn {
    cursor: pointer;
    position: absolute;
    top: 3rem;
    right: 3rem;
    transition: all .2s; }
    .popup__closeBtn:hover {
      background-color: #85203b; }

.header {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #e0c45c;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1rem solid white; }
  .header__container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .header__container-h2 {
      text-align: center;
      width: 100%;
      padding: 1rem;
      background-color: #cb3b3b;
      color: #e0c45c; }
  .header__btn {
    height: 15rem;
    width: 15rem;
    font-family: inherit;
    font-size: 1.4rem;
    background-color: #cb3b3b;
    border: 5px solid #fff98c;
    border-radius: 50%;
    transition: all .2s; }
    .header__btn:hover {
      color: #e0c45c; }
    .header__btn:active, .header__btn:focus {
      outline: none;
      transform: scale(0.95); }

.navigation {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff98c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.5rem; }
  .navigation__logo {
    padding: 2rem; }
  .navigation__menu {
    display: flex;
    list-style: none; }
    .navigation__menu-li {
      margin-right: 5rem; }

.footer {
  width: 100%;
  background-color: #85203b; }
  .footer__container {
    width: 90%;
    padding: 3rem 0;
    margin: 0 auto;
    background-color: #85203b;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start; }

.section__builder {
  top: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 2;
  border: 1rem solid white; }
  @media (min-width: 39.1em) {
    .section__builder {
      position: static;
      width: 80%;
      border: 0;
      margin: 3rem auto; } }

.section__ingredients {
  width: 100%;
  background-color: #e0c45c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1rem solid white; }
  @media (min-width: 39.1em) {
    .section__ingredients {
      width: 80%;
      border: 0;
      margin: 0 auto; } }
