@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

* {
  font-size: 62.5%; }

body {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box; }

.u-margin-bot-small {
  margin-bottom: 2rem; }

.u-margin-bot-middle {
  margin-bottom: 5rem; }

.u-margin-bot-big {
  margin-bottom: 8rem; }

.btn {
  padding: 1.5rem 2rem; }
  .btn, .btn:link, .btn:visited {
    cursor: pointer;
    border: none;
    outline: none; }

.builder {
  background-color: #e0c45c;
  margin-left: 5rem; }
  .builder__pizza {
    height: 30rem;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 4rem; }
    @media (min-width: 625px) {
      .builder__pizza {
        height: 40rem;
        justify-content: flex-start; } }
    .builder__pizza-cell {
      width: 5rem;
      height: 5rem;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
      @media (min-width: 625px) {
        .builder__pizza-cell {
          width: 8rem;
          height: 8rem; } }
  .builder__cost {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem 0;
    border-bottom: 2px solid #fff98c; }
    .builder__cost-p {
      width: 100%;
      text-align: left;
      font-size: 2.5rem;
      font-weight: 700;
      padding: 1rem 0;
      letter-spacing: .2rem; }
    .builder__cost-btn {
      width: 100%;
      font-size: 2.5rem;
      text-align: left;
      font-weight: 700;
      letter-spacing: .2rem;
      cursor: pointer;
      padding: 2rem;
      transition: all .2s;
      margin-left: -2rem; }
      .builder__cost-btn:hover {
        background-color: #fff98c;
        border-radius: 10px; }

.ingredients {
  height: 100%;
  display: flex;
  flex-direction: column; }
  .ingredients__h1 {
    padding: 4rem 0;
    margin-left: 5rem;
    text-align: left;
    font-size: 2.5rem;
    letter-spacing: .2rem;
    background-color: #e0c45c; }
  .ingredients__header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5rem; }
    .ingredients__header-h1 {
      height: 10rem;
      flex: 0 0 49%; }
    .ingredients__header-btn {
      cursor: pointer;
      font-family: inherit;
      font-size: 2.5rem;
      text-align: left;
      width: 100%;
      height: 100%;
      background-color: #e0c45c;
      transition: all .2s;
      margin-left: -2rem;
      border-bottom: 2px solid #fff98c; }
      .ingredients__header-btn:hover {
        background-color: #000;
        color: #fff;
        border-radius: 10px; }
      .ingredients__header-btn:focus, .ingredients__header-btn:active {
        outline: none; }
  .ingredients__box {
    margin-left: 5rem; }
  .ingredients__container {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 60vh; }

.item {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 2rem;
  border-bottom: 2px solid #fff98c; }
  @media (min-width: 625px) {
    .item {
      margin-bottom: 2rem; } }
  .item__img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 10rem;
    width: 10rem;
    margin-left: 2rem; }
  .item__header {
    padding: 2rem 0;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: left; }
  .item__box-p {
    display: flex;
    align-items: center;
    justify-content: flex-start; }
    @media (min-width: 625px) {
      .item__box-p {
        width: 100%; } }
    .item__box-p--price {
      padding: 2rem 3rem 2rem 0;
      font-weight: 400;
      font-size: 2rem; }
  .item__box-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: inherit;
    font-size: 3.5rem;
    font-weight: 900;
    text-align: center;
    transition: all .2s; }
    @media (min-width: 625px) {
      .item__box-btn {
        width: 100%; } }
  .item__btn-add, .item__btn-remove, .item__btn-delete {
    height: 5rem;
    width: 7rem;
    margin-right: 1rem;
    padding: 1rem;
    outline: none; }
    .item__btn-add:hover, .item__btn-remove:hover, .item__btn-delete:hover {
      background-color: #000;
      color: #e0c45c; }
    .item__btn-add:active, .item__btn-remove:active, .item__btn-delete:active {
      background-color: #fff;
      color: #e0c45c; }

.popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(224, 196, 92, 0.8);
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .popup__container {
    height: 80%;
    width: 85%;
    margin: 3rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    scrollbar-color: #e0c45c;
    scrollbar-width: thin; }
    .popup__container .basket__element {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex: 0 0 25%;
      background-color: #fff98c;
      border-radius: 20px;
      margin-right: 2rem;
      margin-bottom: 1rem; }
      .popup__container .basket__element-img img {
        height: 120px; }
        @media (max-width: 425px) {
          .popup__container .basket__element-img img {
            height: 60px; } }
      .popup__container .basket__element-amount {
        font-size: 1.4rem;
        margin-right: 2rem; }
        @media (max-width: 425px) {
          .popup__container .basket__element-amount {
            font-size: 1rem;
            margin-right: 0; } }
      .popup__container .basket__element-price {
        font-size: 1.4rem; }
        @media (max-width: 425px) {
          .popup__container .basket__element-price {
            font-size: 1rem; } }
      .popup__container .basket__element-delete {
        padding: 1.6rem;
        margin: 0 1rem;
        font-size: 1.4rem;
        border: none;
        text-transform: lowercase;
        background-color: #fff98c;
        cursor: pointer;
        transition: all .2s; }
        @media (max-width: 425px) {
          .popup__container .basket__element-delete {
            font-size: 1rem;
            padding: 1rem; } }
        .popup__container .basket__element-delete:hover {
          background-color: #e0c45c;
          border-radius: 10px; }
        .popup__container .basket__element-delete:active {
          border: none;
          outline: none;
          background-color: #fff98c; }
        .popup__container .basket__element-delete:focus {
          border: none;
          outline: none; }
  .popup__closeBtn {
    cursor: pointer;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    padding: 1.5rem 2rem;
    background-color: #fff98c;
    border-radius: 10px;
    font-size: 2rem;
    transition: all .2s; }
    .popup__closeBtn:hover {
      background-color: #e0c45c;
      border: 2px solid #fff98c; }
  .popup__order {
    position: fixed;
    cursor: pointer;
    border: 0.3rem solid #fff98c;
    top: 1.5rem;
    transition: all .2s; }
    .popup__order:hover, .popup__order:active, .popup__order:focus {
      background-color: #85203b; }

.transition {
  transition: all .8s ease-in; }

.off__down {
  display: none; }

.on__down {
  display: flex; }

.active {
  background-color: #000;
  color: #fff;
  border-radius: 10px; }

.main-info {
  min-height: 35rem;
  margin-left: 5rem;
  margin-bottom: 3rem; }
  .main-info h1 {
    font-size: 2.5rem;
    padding: 5rem 0;
    color: #e0c45c; }
  .main-info p {
    font-size: 1.4rem;
    width: 80%; }

.header {
  height: 100%;
  width: 100%;
  background-color: #e0c45c;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start; }
  .header__container {
    text-align: left;
    margin-left: 5rem; }
    .header__container h1 {
      font-size: 5rem;
      text-transform: uppercase;
      padding: 4rem 0 1rem 0; }
    .header__container h2 {
      font-size: 2.5rem;
      padding: 0 0 2.5rem 0; }
  .header__btn {
    height: 15rem;
    width: 15rem;
    font-family: inherit;
    font-size: 1.4rem;
    color: #e0c45c;
    background-color: #cb3b3b;
    border: 5px solid #fff98c;
    border-radius: 50%;
    transition: all .2s; }
    .header__btn:hover {
      color: #fff98c; }
    .header__btn:active, .header__btn:focus {
      outline: none;
      transform: scale(0.95); }

.main-menu {
  width: 100%;
  background-color: #e0c45c;
  border-top: 2px solid #fff98c; }
  .main-menu-hamburger {
    position: fixed;
    top: 3rem;
    right: 3rem;
    display: none; }
    @media (max-width: 991px) {
      .main-menu-hamburger {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        cursor: pointer; } }
    .main-menu-hamburger .hamburger-box {
      min-height: 3rem;
      margin-bottom: 2rem;
      transition: all .3s; }
      .main-menu-hamburger .hamburger-box:hover {
        transform: scale(1.05); }
      .main-menu-hamburger .hamburger-box:focus {
        transform: scale(1); }
      .main-menu-hamburger .hamburger-box .hamburger-line {
        height: 4px;
        width: 50px;
        background-color: #000;
        margin-bottom: 8px;
        border-radius: 5px; }
    .main-menu-hamburger .hamburger-ul {
      list-style-type: none;
      background-color: #000;
      color: #e0c45c;
      padding: 2rem 3rem;
      margin-right: -100rem;
      transition: all .3s; }
      .main-menu-hamburger .hamburger-ul li {
        font-size: 2rem;
        margin: 1rem .5rem;
        padding: 1.6rem; }
        .main-menu-hamburger .hamburger-ul li:hover {
          background-color: #fff98c;
          color: #000;
          border-radius: 10px; }
  .main-menu__ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style-type: none;
    padding: 3rem 0;
    margin-left: 5rem; }
    @media (max-width: 991px) {
      .main-menu__ul {
        display: none; } }
    .main-menu__ul li:first-of-type {
      margin-left: -2rem; }
    .main-menu__ul li {
      font-size: 2rem;
      padding: 1rem 2rem;
      cursor: pointer;
      transition: all .2s;
      border-radius: 10px; }
      .main-menu__ul li:hover {
        background-color: #fff98c; }

.footer {
  height: 100%;
  background-color: #e0c45c;
  padding: 5rem 0; }
  .footer__h1 {
    font-size: 4rem;
    padding: 2rem 0;
    margin-left: 5rem;
    border-top: 2px solid #fff98c; }
  .footer__h2 {
    font-size: 2rem;
    padding: 0 0 1rem 0;
    border-bottom: 2px solid #e0c45c;
    margin-left: 5rem; }
  .footer__container {
    padding: 10rem 0;
    border-top: 2px solid #fff98c;
    background-color: #e0c45c;
    margin-left: 5rem;
    display: flex;
    flex-direction: column; }
    @media (min-width: 625px) {
      .footer__container {
        flex-direction: row; } }
  .footer__ul {
    font-size: 1.4rem;
    list-style: none;
    text-decoration: none;
    text-align: left; }
    .footer__ul h3 {
      font-size: 1.8rem;
      padding-bottom: 1.6rem; }
    .footer__ul li {
      font-size: 1.4rem; }
  .footer__p {
    margin-top: 2rem;
    text-align: left;
    max-width: 30%; }

.container {
  height: 100%; }

.section__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #e0c45c; }
  @media (min-width: 1024px) {
    .section__container {
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start; } }

.section__container-h1 {
  font-size: 4rem;
  margin-left: 5rem;
  padding: 4rem 0; }

.section__builder {
  height: 100%;
  background-color: #e0c45c;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  @media (min-width: 625px) {
    .section__builder {
      position: static;
      width: 95%;
      border: 0; } }

.section__ingredients {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start; }
  @media (min-width: 625px) {
    .section__ingredients {
      width: 100%;
      border: 0;
      margin: 0 auto; } }
