@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

* {
  font-size: 62.5%; }

body {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box; }

.u-margin-bot-small {
  margin-bottom: 2rem; }

.u-margin-bot-middle {
  margin-bottom: 5rem; }

.u-margin-bot-big {
  margin-bottom: 8rem; }

.btn {
  padding: 2rem 2rem; }
  .btn, .btn:link, .btn:visited {
    cursor: pointer;
    border: none;
    outline: none; }

.builder {
  width: 100%; }
  .builder__pizza {
    height: 22rem;
    border-radius: 30px;
    background-image: url("./../img/pizza.png");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    row-gap: 0;
    margin: .8rem 0; }
    @media (min-width: 425px) {
      .builder__pizza {
        height: 35rem;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr); } }
    @media (min-width: 625px) {
      .builder__pizza {
        height: 50rem;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(3, 1fr); } }
    @media (min-width: 991px) {
      .builder__pizza {
        height: 63rem;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr); } }
    .builder__pizza-cell {
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat; }
  .builder__cost {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between; }
    @media (min-width: 625px) {
      .builder__cost {
        display: flex;
        flex-direction: row; } }
    .builder__cost-p {
      padding: 2rem;
      background-color: #e0c45c;
      border-radius: 30px;
      text-align: left;
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 700;
      color: #2c2c2c; }
      @media (min-width: 425px) {
        .builder__cost-p {
          font-size: 1.6rem; } }
      @media (min-width: 625px) {
        .builder__cost-p {
          border-radius: 15px; } }
      @media (min-width: 991px) {
        .builder__cost-p {
          height: 8rem; } }
    .builder__cost-btn {
      padding: 2rem;
      background-color: #e0c45c;
      border-radius: 30px;
      font-size: 1.2rem;
      font-family: inherit;
      text-align: left;
      text-transform: uppercase;
      font-weight: 700;
      cursor: pointer;
      color: #2c2c2c;
      transition: all .2s;
      margin-bottom: .8rem;
      margin-right: 1rem; }
      @media (min-width: 425px) {
        .builder__cost-btn {
          font-size: 1.6rem; } }
      @media (min-width: 625px) {
        .builder__cost-btn {
          border-radius: 15px; } }
      @media (min-width: 991px) {
        .builder__cost-btn {
          height: 8rem; } }
      .builder__cost-btn:hover {
        background-color: #fff98c;
        border-radius: 10px; }

.ingredients {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; }
  @media (min-width: 625px) {
    .ingredients {
      font-size: 5rem;
      margin-left: 2rem;
      margin-right: 0; } }
  .ingredients__header {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .ingredients__header-h1 {
      margin-bottom: 1rem;
      flex: 0 0 23%; }
      @media (min-width: 425px) {
        .ingredients__header-h1 {
          font-size: 2rem; } }
      @media (min-width: 625px) {
        .ingredients__header-h1 {
          font-size: 1.6rem;
          margin-right: 1rem; } }
    .ingredients__header-btn {
      width: 100%;
      height: 6rem;
      cursor: pointer;
      font-family: inherit;
      font-size: 1rem;
      text-align: center;
      background-color: #e0c45c;
      transition: all .2s;
      border-radius: 15px;
      padding: 0 .5rem !important;
      transition: all .2s; }
      @media (min-width: 425px) {
        .ingredients__header-btn {
          font-size: 1.2rem; } }
      @media (min-width: 625px) {
        .ingredients__header-btn {
          font-size: 1.6rem;
          border-radius: 15px;
          padding: 0 2rem !important; } }
      @media (min-width: 625px) {
        .ingredients__header-btn {
          height: 8rem;
          font-size: 1.6rem;
          border-radius: 15px;
          padding: 0 2rem !important; } }
      .ingredients__header-btn:hover {
        background-color: #fff98c;
        color: #2c2c2c;
        border-radius: 8px; }
      .ingredients__header-btn:focus, .ingredients__header-btn:active {
        background-color: #fff98c;
        color: #2c2c2c;
        border-radius: 8px;
        outline: none; }
  .ingredients__box {
    height: 30vh;
    overflow: scroll; }
    @media screen and (min-height: 630px) {
      .ingredients__box {
        height: 36vh; } }
    @media screen and (min-height: 725px) {
      .ingredients__box {
        height: 42vh; } }
    @media screen and (min-height: 820px) {
      .ingredients__box {
        height: 46vh; } }
    @media (min-width: 991px) {
      .ingredients__box {
        height: 100%;
        overflow: hidden; } }
  .ingredients__container {
    flex-direction: column;
    margin-top: 3rem; }
    @media (min-width: 991px) {
      .ingredients__container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 0; } }
  .ingredients__info {
    display: none;
    font-size: 2rem;
    color: rgba(224, 196, 92, 0.2);
    text-align: center;
    margin: 3rem; }
    @media (min-width: 991px) {
      .ingredients__info {
        display: block; } }

.item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #e0c45c; }
  @media (min-width: 625px) {
    .item {
      margin-bottom: 2rem;
      flex: 0 0 23%; } }
  @media (min-width: 991px) {
    .item {
      border-bottom: none;
      border-left: 2px solid #e0c45c;
      padding-left: 1rem; } }
  .item__img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 6rem;
    width: 6rem;
    margin-left: 2rem; }
    @media (min-width: 625px) {
      .item__img {
        height: 8rem;
        width: 8rem; } }
  .item__header {
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: lower;
    text-align: left;
    color: #e0c45c; }
    @media (min-width: 425px) {
      .item__header {
        font-size: 2rem; } }
    @media (min-width: 625px) {
      .item__header {
        font-size: 1.6rem; } }
  .item__box-p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: lowercase;
    margin-bottom: 1rem; }
    .item__box-p--price {
      font-weight: 400;
      font-size: 1.4rem;
      margin-right: 1.2rem; }
  .item__box-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: inherit;
    font-size: 2rem;
    text-align: center;
    transition: all .2s; }
    @media (min-width: 625px) {
      .item__box-btn {
        width: 100%; } }
  .item__btn-add, .item__btn-remove, .item__btn-delete {
    height: 4rem;
    width: 7rem;
    font-weight: 700;
    background-color: #e0c45c;
    color: #2c2c2c;
    border-radius: 10px;
    margin-right: 1rem;
    padding: 1rem;
    outline: none;
    transition: all .2s; }
    .item__btn-add:hover, .item__btn-remove:hover, .item__btn-delete:hover {
      background-color: #fff98c;
      border-radius: 5px; }
    .item__btn-add:active, .item__btn-remove:active, .item__btn-delete:active {
      background-color: #fff;
      color: #e0c45c; }

.item:not(:last-child) {
  border-bottom: 2px solid #fff98c;
  padding-bottom: .5rem; }
  @media (min-width: 991px) {
    .item:not(:last-child) {
      border-bottom: none;
      padding-bottom: 0; } }

.popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(224, 196, 92, 0.8);
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .popup__container {
    position: fixed;
    height: 70%;
    width: 85%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: scroll; }
    .popup__container .basket__element {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background-color: #fff98c;
      border-radius: 20px;
      margin-bottom: 1rem; }
      .popup__container .basket__element-img img {
        height: 60px; }
        @media (min-width: 425px) {
          .popup__container .basket__element-img img {
            height: 60px; } }
      .popup__container .basket__element-amount {
        font-size: 1rem; }
        @media (min-width: 425px) {
          .popup__container .basket__element-amount {
            font-size: 1rem;
            margin-right: 0; } }
      .popup__container .basket__element-price {
        font-size: 1rem; }
        @media (min-width: 425px) {
          .popup__container .basket__element-price {
            font-size: 1rem; } }
      .popup__container .basket__element-delete {
        padding: 1rem;
        margin: 0 1rem;
        font-size: 1rem;
        border: none;
        text-transform: lowercase;
        background-color: #fff98c;
        cursor: pointer;
        transition: all .2s; }
        @media (min-width: 425px) {
          .popup__container .basket__element-delete {
            font-size: 1rem;
            padding: 1rem; } }
        .popup__container .basket__element-delete:hover {
          background-color: #e0c45c;
          border-radius: 10px; }
        .popup__container .basket__element-delete:active {
          border: none;
          outline: none;
          background-color: #fff98c; }
        .popup__container .basket__element-delete:focus {
          border: none;
          outline: none; }
  .popup__closeBtn {
    cursor: pointer;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    padding: 1.5rem 2rem;
    background-color: #fff98c;
    border-radius: 10px;
    font-size: 2rem;
    transition: all .2s; }
    .popup__closeBtn:hover {
      background-color: #e0c45c; }
  .popup__order {
    position: fixed;
    cursor: pointer;
    top: 1.5rem;
    left: 3rem;
    padding: 1.5rem 2rem;
    border-radius: 10px;
    background-color: #fff98c;
    font-size: 2rem;
    font-family: inherit;
    transition: all .2s; }
    .popup__order:hover, .popup__order:active, .popup__order:focus {
      background-color: #e0c45c; }

.transition {
  transition: all .8s ease-in; }

.off__down {
  display: none; }

.on__down {
  display: flex; }
  @media (min-width: 991px) {
    .on__down {
      display: grid; } }

.main-info {
  min-height: 35rem;
  margin-top: 2rem;
  padding: 3rem;
  border-radius: 30px;
  background-color: #e0c45c;
  display: none;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-right: 5rem; }
  @media (min-width: 425px) {
    .main-info {
      margin-left: 2rem; } }
  @media (min-width: 625px) {
    .main-info {
      margin-left: 3.5rem; } }
  @media (min-width: 991px) {
    .main-info {
      margin-left: 5rem; } }
  @media (min-width: 625px) {
    .main-info {
      display: block; } }
  @media (min-width: 991px) {
    .main-info {
      height: 64rem; } }
  .main-info-container {
    height: 100%;
    transition: all .2s; }

.carusel {
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .2s;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .carusel__btn {
    display: block;
    height: 100%;
    width: 15%;
    background-color: rgba(224, 196, 92, 0.3);
    color: #e0c45c;
    border: none;
    font-size: 2rem; }
    @media (min-width: 625px) {
      .carusel__btn {
        font-size: 4rem; } }
    .carusel__btn:active, .carusel__btn:focus {
      outline: none; }
    .carusel__btn:hover {
      background-color: rgba(255, 249, 140, 0.3); }
  .carusel__dots {
    align-self: flex-end;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center; }
    .carusel__dots-dot {
      height: 1rem;
      width: 1rem;
      background-color: transparent;
      border: 1px solid #fff98c;
      border-radius: 50%;
      margin: 0 .3rem; }
      @media (min-width: 425px) {
        .carusel__dots-dot {
          height: 1.4rem;
          width: 1.4rem;
          margin: 0 .5rem; } }
      @media (min-width: 625px) {
        .carusel__dots-dot {
          height: 1rem;
          width: 1rem; } }

.about {
  min-height: 35rem; }
  @media (min-width: 625px) {
    .about {
      display: flex; } }
  .about__box p {
    font-size: 1.4rem; }
  .about__box h1 {
    padding: 0; }
  .about__box-img {
    border-radius: 10px;
    background-image: url("../img/portret.jpg");
    background-position: center;
    background-size: cover;
    margin: 3rem 0; }
  .about__box:last-child {
    margin-left: 4rem; }

.header {
  height: 10vh;
  padding-top: .5rem; }
  @media (min-width: 991px) {
    .header {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between; } }
  .header__container {
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: left;
    width: fit-content; }
    @media (min-width: 425px) {
      .header__container {
        margin-left: 2rem; } }
    @media (min-width: 625px) {
      .header__container {
        margin-left: 3.5rem; } }
    @media (min-width: 991px) {
      .header__container {
        margin-left: 5rem; } }
    @media (min-width: 991px) {
      .header__container {
        flex: 0 0 55%; } }
    .header__container h1 {
      font-size: 3rem;
      padding: 4rem 0 2rem 0;
      color: #2c2c2c;
      text-transform: uppercase;
      color: #e0c45c;
      border-radius: 15px;
      padding: 1.6rem;
      margin-bottom: .8rem;
      width: 100%; }
      @media (min-width: 625px) {
        .header__container h1 {
          font-size: 5rem; } }
      @media (min-width: 425px) {
        .header__container h1 {
          font-size: 2.6rem; } }
      @media (min-width: 625px) {
        .header__container h1 {
          font-size: 5rem; } }
      @media (min-width: 991px) {
        .header__container h1 {
          font-size: 6.2rem;
          border-radius: 30px; } }

.main-menu {
  height: 100%;
  margin: 0 5rem 0 5rem; }
  .main-menu-hamburger {
    position: fixed;
    top: 3rem;
    right: 1.5rem;
    display: none; }
    @media (max-width: 991px) {
      .main-menu-hamburger {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center; } }
    .main-menu-hamburger .hamburger-box {
      min-height: 3rem;
      margin-bottom: 2rem;
      cursor: pointer;
      transition: all .3s; }
      .main-menu-hamburger .hamburger-box:hover {
        transform: scale(1.05); }
      .main-menu-hamburger .hamburger-box:focus {
        transform: scale(1); }
      .main-menu-hamburger .hamburger-box .hamburger-line {
        height: 3px;
        width: 30px;
        background-color: #e0c45c;
        margin-bottom: 5px;
        border-radius: 5px; }
    .main-menu-hamburger .hamburger-ul {
      height: 100vh;
      width: 30vh;
      list-style-type: none;
      background-color: rgba(44, 44, 44, 0.4);
      color: #e0c45c;
      padding: 2rem 3rem;
      margin-right: -100rem;
      transition: all .3s; }
      .main-menu-hamburger .hamburger-ul li {
        font-size: 2rem;
        padding: .8rem;
        cursor: pointer; }
        .main-menu-hamburger .hamburger-ul li:hover {
          background-color: #fff98c;
          color: #000;
          border-radius: 10px; }
      .main-menu-hamburger .hamburger-ul h3 {
        font-size: 2rem;
        padding: .8rem; }
  .main-menu__ul {
    background-color: #e0c45c;
    border-radius: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    list-style-type: none;
    padding: 2rem; }
    @media (max-width: 991px) {
      .main-menu__ul {
        display: none; } }
    .main-menu__ul li {
      font-size: 1.4rem;
      padding: 0 .8rem;
      cursor: pointer;
      transition: all .2s;
      border-radius: 10px; }
      .main-menu__ul li:hover {
        background-color: #fff98c; }
  .main-menu h2 {
    font-size: 1.4rem;
    padding: 0 1rem 2rem 0;
    color: #2c2c2c;
    background-color: #e0c45c;
    border-radius: 30px;
    padding: 2rem;
    margin: 2rem 0; }
    @media screen and (max-width: 991px) {
      .main-menu h2 {
        display: none; } }

.footer {
  height: 5vh;
  background-color: #2c2c2c; }
  @media (min-width: 625px) {
    .footer {
      height: 100%; } }
  .footer__h1 {
    display: none;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #e0c45c;
    margin-left: 1rem; }
    @media (min-width: 425px) {
      .footer__h1 {
        margin-left: 2rem;
        font-size: 3.5rem; } }
    @media (min-width: 991px) {
      .footer__h1 {
        display: block;
        font-size: 5rem;
        margin-left: 3.5rem; } }
    @media (min-width: 991px) {
      .footer__h1 {
        margin-left: 5rem; } }
  .footer__h2 {
    font-size: 1.6rem;
    color: #e0c45c;
    margin-left: 1rem; }
    @media (min-width: 425px) {
      .footer__h2 {
        font-size: 2rem;
        margin-left: 2rem; } }
    @media (min-width: 625px) {
      .footer__h2 {
        margin-left: 3.5rem;
        padding: 3rem 0; } }
    @media (min-width: 991px) {
      .footer__h2 {
        margin-left: 5rem; } }
  .footer__container {
    display: none;
    margin-left: 1rem;
    display: flex;
    flex-direction: column; }
    @media (min-width: 425px) {
      .footer__container {
        margin-left: 2rem; } }
    @media (min-width: 625px) {
      .footer__container {
        margin-left: 3.5rem;
        display: block; } }
    @media (min-width: 991px) {
      .footer__container {
        margin-left: 5rem; } }
    @media (min-width: 625px) {
      .footer__container {
        flex-direction: row; } }
  .footer__ul {
    display: none;
    font-size: 1.4rem;
    list-style: none;
    text-decoration: none;
    text-align: left; }
    .footer__ul h3 {
      font-size: 1.8rem;
      padding-bottom: 1.6rem; }
    .footer__ul li {
      font-size: 1.4rem; }
  .footer__p {
    margin-top: 2rem;
    text-align: left;
    max-width: 30%; }

.container {
  height: 100%;
  background-color: #2c2c2c; }
  @media (min-width: 625px) {
    .container {
      height: 100%; } }
  .container__h1 {
    display: none;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2.4rem;
    padding: 1.6rem;
    color: #e0c45c;
    text-transform: uppercase;
    border-radius: 30px;
    width: fit-content; }
    @media (min-width: 425px) {
      .container__h1 {
        margin-left: 2rem; } }
    @media (min-width: 625px) {
      .container__h1 {
        margin-left: 3.5rem; } }
    @media (min-width: 991px) {
      .container__h1 {
        margin-left: 5rem; } }
    @media (min-width: 625px) {
      .container__h1 {
        display: block;
        font-size: 5rem; } }

.section__container {
  height: 85vh;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem; }
  @media (min-width: 425px) {
    .section__container {
      margin-left: 2rem; } }
  @media (min-width: 625px) {
    .section__container {
      margin-left: 3.5rem; } }
  @media (min-width: 991px) {
    .section__container {
      margin-left: 5rem; } }
  @media (min-width: 625px) {
    .section__container {
      height: 100%;
      margin-right: 5rem; } }
  @media (min-width: 991px) {
    .section__container {
      height: 100%;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 5rem; } }

.section__builder {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  @media (min-width: 625px) {
    .section__builder {
      height: 100%;
      flex: 0 0 43%;
      border: 0; } }

.section__ingredients {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-left: 1rem;
  margin-right: 1rem; }
  @media (min-width: 425px) {
    .section__ingredients {
      margin-left: 2rem; } }
  @media (min-width: 625px) {
    .section__ingredients {
      margin-left: 3.5rem; } }
  @media (min-width: 991px) {
    .section__ingredients {
      margin-left: 5rem; } }
  @media (min-width: 625px) {
    .section__ingredients {
      margin-left: 0 !important;
      margin-right: 0 !important; } }

.ingredients__h1 {
  margin-left: 1rem;
  padding: 4rem 0 2rem 0;
  margin-bottom: 3rem;
  text-align: left;
  text-transform: uppercase;
  font-size: 1.6rem;
  background-color: #e0c45c;
  border-bottom: 2px solid #fff98c; }
  @media (min-width: 425px) {
    .ingredients__h1 {
      font-size: 2rem;
      margin-left: 2rem; } }
  @media (min-width: 625px) {
    .ingredients__h1 {
      margin-left: 2rem;
      margin-right: 0; } }
