// COLORS
$color-one: #fff98c;

$color-two: #e0c45c;

$color-three: #cb3b3b;

$color-four: #85203b;

// FONT SIZE
$font-size-small: 1.4rem;
$font-size-middle: 2.5rem;
$font-size-big: 10rem;

// MARGINS
$margin-small: 2rem;
$margin-middle: 5rem;
$margin-big: 8rem;