.header {
    
    height: 100%;
    width: 100%;
    background-color: $color-two;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    
  
    &__container {

        text-align: left;
        margin-left: $margin-layout;
        h1 {
            font-size: 5rem;
            text-transform: uppercase;
            padding: 4rem 0 1rem 0;
        }
        h2 {
            font-size: 2.5rem;
            padding: 0 0 2.5rem 0;
        }
        
    }

    &__btn {
        height: 15rem;
        width: 15rem;
        font-family: inherit;
        font-size: $font-size-small;
        color: $color-two;
        background-color: $color-three;
        border: 5px solid $color-one;
        border-radius: 50%;
        transition: all .2s;
        

        &:hover {
            color: $color-one;
        }
        &:active,
        &:focus {
            outline: none;
            transform: scale(.95);
        }
    }
}