.header {
    height: 100%;
    padding-top: 3rem;

    @include respond(tab-land) {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    
    &__container {
        //LAYOUT MARGIN
        @include margin-layout;
        
        text-align: left;
        width: fit-content;

        @include respond(tab-land) {
            flex: 0 0 35%;
        }

        h1 {
            @include header-one;
            font-size: 2.4rem !important;
            background-color: $color-two;
            border-radius: $border-radius;
            padding: $padding-background;
            margin-bottom: .8rem;
            width: 100%;
        }
        
    }
}