.header {
    
    padding: 1rem;
    background-color: $color-two;

    @include border-bot;
    
  
    &__container {

        text-align: center;
        @include center-column;
        // @include center-column;
        &-h1 {
            
        }
        &-h2 {

            @include header-red;
        }
        
    }

    &__btn {

    }
}