.main-menu {

    width: 100%;
    background-color: $color-two;
    border-top: 2px solid $color-one;
    
    &-hamburger {
        position: fixed;
        top: 3rem;
        right: 3rem;
        display: none;
        
        @media  (max-width: 991px) {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            cursor: pointer;
        }
        .hamburger-box {
            min-height: 3rem;
            margin-bottom: 2rem;
            transition: all .3s;
            &:hover {
                transform: scale(1.05);
            }
            &:focus {
                transform: scale(1);
            }
            .hamburger-line {
                height: 4px;
                width: 50px;
                background-color: #000;
                margin-bottom: 8px;
                border-radius: 5px;
            }
        }
        
        .hamburger-ul {
            list-style-type: none;
            background-color: #000;
            color: $color-two;
            padding: 2rem 3rem;
            margin-right: -100rem;
            transition: all .3s;
            li {
                font-size: 2rem;
                margin: 1rem .5rem;
                padding: 1.6rem;
                &:hover {
                    background-color: $color-one;
                    color: #000;
                    border-radius: 10px;
                }
            }
        }
        
    }
    
    &__ul {

        display: flex;
        align-items: center;
        justify-content: flex-start;

        list-style-type: none;
        padding: 3rem 0;
        margin-left: $margin-layout;

        @media  (max-width: 991px) {
            display: none;
        }
        
        li:first-of-type {
            margin-left: -2rem;
        }
        li {
            font-size: 2rem;
            padding: 1rem 2rem;
            cursor: pointer;
            transition: all .2s;
            border-radius: 10px;

            &:hover {
                background-color: $color-one;
            }
        }
    }
}