.navigation {

    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $color-one;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $font-size-middle;
    

    &__logo{
        padding: 2rem;
    }

    &__menu{

        display: flex;
        
        list-style: none;

        &-li{
            margin-right: 5rem;
        }
    }
}