* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header h1 ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 30px;
}

header h1 ul li{
    list-style-type: none;
}

/* PIZZA VIEW SECTION */

.pizza-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.pizza-photo {
    width: 600px;
    height: 600px;
    border: 3px solid black;
}

/* PIZZA INGREDIENTS SECTION */

.pizza-ingredients {
    background-image: url('https://image.freepik.com/free-photo/side-view-ripe-fresh-vegetables-colorful-bell-peppers-tomatoes-garlic-broccoli-green-onion-black-background_141793-3403.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
}
/* UL IN INGREDIENTS LIST */
.groupIngredients{
    width: 300px;
    margin: 0;
    padding: 20px 20px;
    font-size: 2rem;
    background: rgba(76, 175, 80, 0.7);
}
/* DIV IN UL */
.ingredientsElement{
    font-size: 1.2rem;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 5px solid #e87e76;
}

.ingredientsElement li{
    list-style-type: none;
}

.ingredientsElement button{
    margin-top: 10px;
    margin-right: 5px;
    background: #e87e76;
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 2rem;
}

.ingredientsElement button:focus {
    outline: none;
}

.ingredientsElement p {

}