.about {
    min-height: 35rem;
    @include respond(tab-port) {
        display: flex;
    }
    &__box {
        p {
            font-size: 1.4rem;
        }
        h1 {
            padding: 0;
        }
        &-img {
            border-radius: 10px;
            background-image: url('../img/portret.jpg');
            background-position: center;
            background-size: cover;   
            
            margin: 3rem 0;

            @include respond(phone) {
                // height: 30rem;
                // width: 30rem;
            }
            @include respond(tab-port) {
                // height: 30rem;
            }
            @include respond(tab-land) {
                // height: 40rem;
            }
        }
    }
    &__box:last-child {
        margin-left: 4rem;
    }
}