.builder {

    height: 50%;
    background-image: url("https://c.pxhere.com/photos/e1/04/pizza_ham_cheese_view_from_the_top_motherboard_good_food_fast_food_restaurant-1202870.jpg!d");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: $margin-small;
    @include center-column;
    @include respond(tab-port) {
        max-height: 50rem; // 1rem = 12px, 12/16 = 50%
    }
    
    &__pizza {
    
        max-width: 25rem;;
        @include center-row;
        flex-wrap: wrap;
        margin-bottom: $margin-small;

        &-cell {
            width: 2.5rem;
            height: 2.5rem;
            // border: 1px solid $color-four;
        }
    }

    &__cost {
        @include header-red;
    }
}