.ingredients {
    height: 100%;

    display: flex;
    flex-direction: column;
    // LAYOUT MARGIN
    margin-left: 1rem;
    @include respond(phone) {
        margin-left: 2rem;
    }
    
    @include respond(tab-port) {
        flex-direction: row;
        font-size: 5rem;
        margin-left: 2rem;
        margin-right: 0;
    }

    &__header {
        
        &-h1 {
            text-align: left;
            margin-bottom: 1rem;
        }
        &-btn {
            width: 100%;
            cursor: pointer;
            font-family: inherit;
            font-size: 1.6rem;
            text-align: left;
            background-color: $color-two;
            transition: all .2s;
            margin-left: -2rem;
            
            @include respond(phone) {
                font-size: 2rem;
            }
            @include respond(tab-port) {
                font-size: 1.6rem;
            }

            &:hover {
                background-color: $color-one;
                color: #000;
                border-radius: 10px;
            }
            &:focus,
            &:active {
                outline: none;
            }

        }
    }
    &__box {
    }
    &__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        
       

        @include respond(tab-port) {
        }
        @include respond(standart-screen) {
            // overflow: scroll;
        }
    }
}