.item {
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: $color-gray;
    color: $color-two;
    padding: 0 0 .5rem .5rem;
    margin: .5rem;

    @include respond(tab-port) {
        margin-bottom: 1rem;
        flex: 0 0 20%;
        padding: 1rem;
    }
    @include respond(tab-land) {
        border-bottom: none;
        margin-right: 1rem;
    }
    &__img {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 6rem;
        width: 6rem;
        margin-left: 2rem;
        @include respond(tab-port) {
            height: 8rem;
            width: 8rem;
        }
    }
    &__header {
        font-size: 1.6rem;
        font-weight: 700;
        text-transform: lowercase;
        text-align: left;
        color: $color-red;

        @include respond(tab-port) {
            font-size: 2rem;
        }
    }

    &__box-p {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-transform: lowercase;
        margin-bottom: 1rem;

        &--price {
            font-weight: 400;
            font-size: 1.4rem;
            margin-right: 1.2rem;
            color: $color-red;
        }
                
    }
    &__box-btn {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        font-family: inherit;
        font-size: 2rem;
        
        text-align: center;
        transition: all .2s;      
    }
    &__btn-add,
    &__btn-remove,
    &__btn-delete {
        height: 4rem;
        width: 7rem;

        font-weight: 700;
        background-color: $color-gray;
        color: $color-red;
        border-radius: 10px;
        margin-right: .5rem;
        padding: 1rem;
        outline: none;
        border: 2px solid $color-red;
        cursor: pointer;
        transition: all .2s;

        &:hover {
             background-color:$color-red;
             color: $color-gray;
             border-radius: 5px;
        }
        &:active {
            background-color: #fff;
             color:$color-red;
        }
    }
}