.item {
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: rgba(#000, .9);
    color: $color-two;
    padding: 0 0 .5rem .5rem;
    margin: .5rem;
    border-radius: 10px;


    @include respond(tab-port) {
        margin-bottom: 1rem;
        flex: 0 0 20%;
        padding: 1rem;
        border-radius: 20px;
    }
    @include respond(tab-land) {
        border-bottom: none;
        margin-right: 1rem;
    }
    &__img {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 6rem;
        width: 6rem;
        margin-left: 2rem;
        @include respond(tab-port) {
            height: 8rem;
            width: 8rem;
        }
    }
    &__header {
        font-size: 1.6rem;
        font-weight: 700;
        text-transform: lowercase;
        text-align: left;
        color: $color-two;

        @include respond(tab-port) {
            font-size: 2rem;
        }
    }

    &__box-p {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-transform: lowercase;
        margin-bottom: 1rem;

        @include respond(tab-land) {
            
        }

        &--price {
            // padding: .5rem .5rem 1.5rem 0;
            font-weight: 400;
            font-size: 1.4rem;
            margin-right: 1.2rem;

            @include respond(tab-port) {

            }
        }
                
    }
    &__box-btn {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        font-family: inherit;
        font-size: 2rem;
        
        text-align: center;
        transition: all .2s;

        // @include respond(tab-land) {
        //     width: 100%;
        // }        
    }
    &__btn-add,
    &__btn-remove,
    &__btn-delete {
        height: 4rem;
        width: 7rem;

        font-weight: 700;
        background-color: $color-two;
        color: $color-gray-dark;
        border-radius: 10px;
        margin-right: .5rem;
        padding: 1rem;
        outline: none;
        transition: all .2s;

        &:hover {
             background-color:$color-one;
             border-radius: 5px;
        }
        &:active {
            background-color: #fff;
             color:$color-two;
        }
    }
}
// .item:not(:last-child) {
//     @include respond(tab-land) {
//         border-bottom: none;
//         padding-bottom: 0;
//     }
    
// }