.item {
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    color: $color-two;

    padding-bottom: 2rem; 

    @include respond(tab-port) {
        margin-bottom: 2rem;
        margin-right: 2rem;
        flex: 0 0 25%;
    }
    @include respond(tab-land) {
        padding-left: 2rem;
        border-bottom: none;
        border-left: 2px solid $color-one;
    }
    &__img {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 6rem;
        width: 6rem;
        margin-left: 2rem;
        @include respond(tab-port) {
            height: 8rem;
            width: 8rem;
        }
    }
    &__header {
        font-size: 1.6rem;
        font-weight: 400;
        text-transform: lower;
        text-align: left;
        color: $color-two;

        @include respond(phone) {
            font-size: 2rem;
        }
        @include respond(tab-port) {
            font-size: 1.6rem;
        }
    }

    &__box-p {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-transform: lowercase;

        &--price {
            padding: .5rem 2rem 1.5rem 0;
            font-weight: 400;
            font-size: 1.6rem;

            @include respond(tab-port) {

            }
        }
                
    }
    &__box-btn {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        font-family: inherit;
        font-size: 2rem;
        
        text-align: center;
        transition: all .2s;

        @include respond(tab-port) {
            width: 100%;
        }        
    }
    &__btn-add,
    &__btn-remove,
    &__btn-delete {
        height: 4rem;
        width: 7rem;

        font-weight: 700;
        background-color: $color-one;
        border-radius: 10px;
        margin-right: 1rem;
        padding: 1rem;
        outline: none;

        &:hover {
             background-color:$color-gray-dark;
             color: $color-one;
        }
        &:active {
            background-color: #fff;
             color:$color-two;
        }
    }
}
.item:not(:last-child) {
    border-bottom: 2px solid $color-one;
}