.main-info {
    min-height: 70vh;
    margin-top: 2rem;
    // padding: 3rem;
    // border-radius: $border-radius;
    // background-color: rgba($color-two, .7);
    display: none;
    
   @include margin-layout;
     margin-right: $margin-layout;

   @include respond(tab-port){
       display: block;
   }
   @include respond(tab-land){
    //   height: 64rem;
   }
    &-container {
        height: 100%;
        transition: all .2s;
    }
}