.main-info {
    min-height: 35rem;
    margin-top: 2rem;
    padding: 3rem;
    border-radius: $border-radius;
    background-color: $color-two;
    display: none;
    
   @include margin-layout;
     margin-right: $margin-layout;

   @include respond(tab-port){
       display: block;
   }
    &-container {
        height: 100%;
        transition: all .2s;
    }
}