.popup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
   
    background-color: rgba($color-two, .8);

    //----- STYLE FOR JS! -----
    // display: flex; 

    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__container {
        position: fixed;
        height: 70%;
        width: 85%;
        margin: 3rem auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        overflow-y: scroll;

        .basket__element {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            background-color: $color-one;
            border-radius: 20px;
            margin-bottom: 1rem;

            &-img img{
                height: 60px;
                @include respond(phone) {
                    height: 60px;
                }
            }
            &-amount {
                font-size: 1rem;
                @include respond(phone) {
                    font-size: 1rem;
                    margin-right: 0;
                }
            }
            &-price {
                font-size: 1rem;
                @include respond(phone) {
                    font-size: 1rem;
                }
            }
            &-delete {
                padding: 1rem;
                margin: 0 1rem;
                font-size: 1rem;
                border: none;
                text-transform: lowercase;
                background-color: $color-one;
                cursor: pointer;
                transition: all .2s;

                @include respond(phone) {
                    font-size: 1rem;
                    padding: 1rem;
                }

                &:hover {
                    background-color: $color-two;
                    border-radius: 10px;
                }
                &:active{
                    border: none;
                    outline: none;
                    background-color: $color-one;
                }
                &:focus {
                    border: none;
                    outline: none;
                }
            }
        }
    }
    
    &__closeBtn {
        cursor: pointer;
        
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        padding: 1.5rem 2rem;
        background-color: $color-one;
        border-radius: 10px;
        font-size: 2rem;
        transition: all .2s;

        &:hover {
            background-color: $color-two;
        }
    }

    &__order {
        position: fixed;
        cursor: pointer;
        
        top: 1.5rem;
        left: 3rem;
        padding: 1.5rem 2rem;
        border-radius: 10px;
        background-color: $color-one;
        font-size: 2rem;
        font-family: inherit;

        transition: all .2s;

        &:hover,
        &:active,
        &:focus {
            background-color: $color-two;
        }
    }
    
}

