.heading-one{

    font-size: $font-size-big;
    margin-bottom: $margin-small;
}
.heading-two{

    font-size: $font-size-middle;
    margin-bottom: $margin-small;

}
.heading-three{
    font-size: $font-size-small;
    margin-bottom: $margin-small;
}

