.container {
    height: 100%;
}
.section__container {
    height: 100%;   

    display: flex;
    flex-direction: column;

    background-color: $color-two;

    @include respond(tab-land) {
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    }
}
.section__container-h1 {
    font-size: 3rem;
    // LAYOUT MARGIN
    margin-left: 1rem;
    margin-right: 5rem;
    padding: 4rem 0;
    color: $color-two;
    text-transform: uppercase;
    @include respond(phone) {
        margin-left: 2rem;
    }
    @include respond(tab-port) {
        font-size: 5rem;
        margin-left: 3.5rem;
        margin-right: 0;
    }
    @include respond(tab-land) {
        margin-left: 5rem;
    }
}
.section__builder {
    height: 100%;
    background-color: $color-two;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    @include respond(tab-port) {
        flex: 0 0 55%;
        border: 0;
    }
}

.section__ingredients{
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.ingredients__h1 {
    // LAYOUT MARGIN
    margin-left: 1rem;

    padding: 4rem 0 2rem 0;
    margin-bottom: 3rem;
    text-align: left;
    text-transform: uppercase;
    font-size: 1.6rem;
    background-color: $color-two;
    border-bottom: 2px solid $color-one;
    @include respond(phone) {
        font-size: 2rem;
        margin-left: 2rem;
    }
    @include respond(tab-port) {
        margin-left: 2rem;
        margin-right: 0;
    }
}

