.section__builder{
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 2;

    @include border-small;
    @include respond(tab-port) {
        position: static; // 1rem = 12px, 12/16 = 50%
        width: 80%;
        border: 0;
        margin: 3rem auto;
    }
}

.section__ingredients{
    margin-top: 55vh;
    width: 100%;
    background-color: $color-two;

    @include center-column;
    @include border-small;
    @include respond(tab-port) {
        width: 80%;
        border: 0;
        margin: 0 auto;
    }
}

.footer {
    width: 100%;
    background-color: $color-four;
}