.section__builder{
    position: fixed;
    top: 0;
    height: 55rem;
    width: 100%;
    background-color: $color-one;
    margin: 0 auto;
    z-index: 2;

    @include border-small;
}

.section__ingredients{
    margin-top: 55rem;
    width: 100%;
    background-color: $color-two;

    @include center-column;
    @include border-small;
}